%div#commits-container
  %section#commits-before.commits
    %h1
      Before
    - day_before_as_string = display_day_before(@asked_date)
    = link_to "Day before (#{day_before_as_string})", repo_wip_ondate_path(@repo, day_before_as_string)

  %section#current-commits.commits
    %h1
      Current #{display_date(@asked_date)}
    - @commits.each do |commit|
      .commit
        .committer
          %img{src: "#{commit.avatar_url}"}
          =commit.committer_name
        .infos
          .metadata
            =display_time(commit.commit_date)
            %a{href: commit.url} #{commit.sha}
          .message
            %pre #{commit.message}

  %section#commits-after.commits
    %h1
      After
    - day_after_as_string = display_day_after(@asked_date)
    = link_to "Day after (#{day_after_as_string})", repo_wip_ondate_path(@repo, day_after_as_string)

